## Laboratorio 9 - Visualización de Datos
## Data Science

#### Integrantes:
- Oscar Fernando López Barrios (20679)

### Investigación de la situación

#### Visualización del Dataset y Limpieza de datos

In [18]:
# Importar librerias necesarias 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
# Importar el csv
data = pd.read_csv("Food Share Emissions.csv")

In [20]:
# Visualizar la data
data

           Entity Code  Year  Food's share of total emissions (incl. LULUFC)
0     Afghanistan  AFG  1990                                       78.558522
1     Afghanistan  AFG  1991                                       79.335651
2     Afghanistan  AFG  1992                                       84.268804
3     Afghanistan  AFG  1993                                       85.247941
4     Afghanistan  AFG  1994                                       86.897834
...           ...  ...   ...                                             ...
5767     Zimbabwe  ZWE  2011                                       80.391380
5768     Zimbabwe  ZWE  2012                                       79.733619
5769     Zimbabwe  ZWE  2013                                       79.451646
5770     Zimbabwe  ZWE  2014                                       78.125762
5771     Zimbabwe  ZWE  2015                                       78.038459

[5772 rows x 4 columns]

In [21]:
# Conocer los tipos de datos que se tienen y la info basica
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5772 entries, 0 to 5771
Data columns (total 4 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Entity                                          5772 non-null   object
 1   Code                                            5694 non-null   object
 2   Year                                            5772 non-null   int64
 3   Food's share of total emissions (incl. LULUFC)  5772 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 180.5+ KB

In [22]:
# Conocer si existen registros nulos para realizar una limpieza del dataset
data.isnull().sum()

Entity                                             0
Code                                              78
Year                                               0
Food's share of total emissions (incl. LULUFC)     0
dtype: int64

In [23]:
# Se realiza el llenado de la data null
data["Code"] = data["Code"].fillna("N/A")
data["Code"]

0       AFG
1       AFG
2       AFG
3       AFG
4       AFG
       ...
5767    ZWE
5768    ZWE
5769    ZWE
5770    ZWE
5771    ZWE
Name: Code, Length: 5772, dtype: object

In [24]:
# Realizar la verificacion de que no existan mas nulos
data.isnull().sum()

Entity                                            0
Code                                              0
Year                                              0
Food's share of total emissions (incl. LULUFC)    0
dtype: int64

#### Visualización de Datos mediante Gráficos